

<label class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70" [id]="id()">
  {{label()}}
</label>

<input
  [type]="type()"
  [id]="id()"
  [placeholder]="placeholder()"
  [minlength]="minLength()"
  [maxlength]="maxLength()"
  [formControl]="control"
  (ngModelChange)="onChange($event)"
  (blur)="onTouched(); onBlur.emit($event)"
  (input)="onInput.emit($event)"
  (change)="onChangeEvent.emit($event)"
  (focus)="onFocus.emit($event)"
  (keydown)="onKeydown.emit($event)"
  (keyup)="onKeyup.emit($event)"
  (keypress)="onKeypress.emit($event)"
  (click)="onClick.emit($event)"
  [class.invalid]="control.invalid && (control.touched || control.dirty)"
  class="flex mt-2 w-full rounded-md border border-input bg-background px-3 py-2 text-base ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 md:text-sm h-11"
/>

@if (control.invalid && (control.touched || control.dirty)) {
  <div class="error text-danger">
    @for (message of errorMessages(); track message) {
      <div>{{ message }}</div>
    }
  </div>
}
