@if (label || error || hint) {
  <div class="form-group">
    @if (label) {
      <label class="form-group__label" [attr.for]="fieldId">{{ label }}</label>
    }
    <input
      [id]="fieldId"
      [ngClass]="inputClasses"
      [type]="type"
      [placeholder]="placeholder"
      [disabled]="disabled"
      [readonly]="readonly"
      [value]="value"
      (input)="onInput($event)"
      (blur)="onBlur()" />
    @if (error) {
      <div class="form-group__error">{{ error }}</div>
    }
    @if (hint && !error) {
      <div class="form-group__hint">{{ hint }}</div>
    }
  </div>
}

@if (!label && !error && !hint) {
  <input
    [id]="fieldId"
    [ngClass]="inputClasses"
    [type]="type"
    [placeholder]="placeholder"
    [disabled]="disabled"
    [readonly]="readonly"
    [value]="value"
    (input)="onInput($event)"
    (blur)="onBlur()" />
}
