<div role="dialog" id="radix-:r68:" aria-describedby="radix-:r6a:" aria-labelledby="radix-:r69:" data-state="open"
  class="fixed left-[50%] top-[50%] z-50 grid w-full translate-x-[-50%] translate-y-[-50%] gap-4 bg-background p-6 duration-200 data-[state=open]:animate-in data-[state=closed]:animate-out data-[state=closed]:fade-out-0 data-[state=open]:fade-in-0 data-[state=closed]:zoom-out-95 data-[state=open]:zoom-in-95 data-[state=closed]:slide-out-to-left-1/2 data-[state=closed]:slide-out-to-top-[48%] data-[state=open]:slide-in-from-left-1/2 data-[state=open]:slide-in-from-top-[48%] sm:rounded-lg max-w-4xl max-h-[90vh] overflow-y-auto bg-gradient-to-br from-slate-50 via-blue-50 to-indigo-50 border-0 shadow-2xl"
  tabindex="-1" style="pointer-events: auto;">
  <div class="flex flex-col space-y-1.5 text-center sm:text-left">
    <h2 id="radix-:r69:"
      class="tracking-tight flex items-center gap-3 text-2xl font-bold bg-gradient-to-r from-slate-900 to-blue-900 bg-clip-text text-transparent">
      <div
        class="w-10 h-10 bg-gradient-to-br from-purple-500 to-indigo-600 rounded-xl flex items-center justify-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-target h-6 w-6 text-white">
          <circle cx="12" cy="12" r="10"></circle>
          <circle cx="12" cy="12" r="6"></circle>
          <circle cx="12" cy="12" r="2"></circle>
        </svg>
      </div>
      Apply for New Job
    </h2>
  </div>

    @if (!showResumeTailoreSection()) {
      <app-new-job
        (onTailorResumeClick)="handleResumeTailoring()"
        (onTrackJobClick)="handleTrackJobClick()"
      >
      </app-new-job>
    } @else {
      <app-resume-tailore
        (onBackClick)="handleApplyNewJob()"
        (onDoneClick)="handleDoneClick()"
      >
      </app-resume-tailore>
    }

  <button type="button" (click)="closeModal()"
    class="absolute right-4 top-4 rounded-sm opacity-70 ring-offset-background transition-opacity hover:opacity-100 focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 disabled:pointer-events-none data-[state=open]:bg-accent data-[state=open]:text-muted-foreground">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
      stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-x h-4 w-4">
      <path d="M18 6 6 18"></path>
      <path d="m6 6 12 12"></path>
    </svg>
    <span class="sr-only">Close</span>
  </button>
</div>
